# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.metadata/
.gitignore
eclipse
util
mysql-workbench
spring-tool-suite-4-4.25.0.RELEASE-e4.33.0-win32.win32.x86_64
spring-tool-suite-3.9.8.RELEASE-e4.11.0-win32-x86_64